<!DOCTYPE html>
<html lang="en">
<head>
    <%- include includes/meta.ejs  %>
    <title><%= pageTitle %></title>
</head>

<body>
    <%- include includes/header.ejs  %>

    <main class="main-content-post-view">

        <% if (!blogExists) { %>
            <h1 style="color: crimson;text-align: center; margin: 20rem 0rem;">The blog you're looking for does not exist!</h1>
        <% } else { %>

            <div class="main-post-content-wrapper">

                <div class="main-post--left">

                    <div class="main-blog-cover">
                        <img class="main-blog-cover--img" data-src="<%= blog.img_url %>">
                    </div>

                    <h1 class="main-blog--title">
                        <%= blog.blog_title %>
                    </h1>

                    <div class="main-blog--content margin-top-small">
                        <p class="main-blog--content--paragraph">
                            <%- blog.blog_description %>
                        </p>
                    </div>
                </div>

                <div class="main-post--right">
                    <div class="post-user-card">

                        <div class="post-user-card--author">

                            <div class="post-user-card--author-info">

                                <img src="<%= blog['user.avatar_url'] %>" alt="profile-picture"
                                    class="post-user-card--author-info--img">
                                <div class="post-user-card--author-info-name-box">
                                    <p class="post-user-card--author-info-name-box--name">
                                        <%= blog["user.first_name"] %> <%= blog["user.last_name"] %>
                                    </p>
                                    <a href="/profile/<%= blog['user.u_id'] %>" class="post-user-card--author-info-name-box--user-name">
                                        @<%= blog["user.user_name"] %>
                                    </a>
                                </div>

                            </div>

                            <p class="post-user-card--author-publish-date margin-top-small margin-gutter-small">
                                Posted On, <%= dateFormat(blog.createdAt) %>
                            </p>

                            <h4 class="secondary-small-title">Categories</h4>

                            <div class="tag-pills-box margin-gutter-small">
                                <% tags.forEach(tag => { %>
                                    <span class="tag-pills-box--pills">
                                        <%= tag %>
                                    </span>
                                <% }); %>
                            </div>
                        </div>

                        <% if (userInfo.loggedIn) { %>
                            <div class="post-user-card-action-box margin-top-small">
                                <div class="action-icon-box">
                                    <img id="likeBtn" class="action-icon-box--icon like-icon" data-src="<%= isLiked ? '/images/star.svg' : '/images/star-unlike.svg' %>" alt="like-btn">
                                    <span id="likeCount" class="action-icon-box--count"><%= blog.like_count %></span>
                                </div>

                                <div class="action-icon-box">
                                    <img class="action-icon-box--icon" data-src="/images/comment-bubble.svg" alt="comment-count">
                                    <span id="comCount" class="action-icon-box--count"><%= comments.length %></span>
                                </div>

                                <div id="toast" class="toast">
                                    <span id="toastText"></span>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>

            </div>

            <div class="answer-wrapper margin-top-medium">
                <div class="main-post--answer-box">
                    <div class="post-reply-box">
                        <h2 class="post-reply-box--title">
                            Comments
                        </h2>
                        <div class="post-reply-box--editor margin-top-small margin-gutter-small">

                            <% if (userInfo.loggedIn) { %>
                                <form class="clearfix">
                                    <textarea id="comField" class="comment-editor"></textarea>
                                    <input type="hidden" id="blogId" value="<%= blog.blog_id %>">
                                    <button id="comBtn" class="post-reply-btn">
                                        Post Comment
                                    </button>
                                </form>
                            <% } else { %>
                                <h2 style="color: #374353;">Please Log In To Answer Questions </h2>
                            <% } %>

                        </div>
                        <div id="comContainer" class="post-reply-box--reply-container">
                            <% comments.forEach(comment => { %>
                                <div class="post-reply-box--reply-container--reply">
                                    <div class="post-reply-box--reply-container--reply-username">
                                        <a href="/" class="reply-author-link">
                                            @<%= comment["user.user_name"]  %> - <%= dateFormat(comment.createdAt) %>
                                        </a>
                                        <span class="reply-link">Reply</span>
                                    </div>
                                    <div class="post-content">
                                        <%- comment.com_content %>
                                    </div>
                                </div>
                            <%  }); %>
                        </div>
                    </div>
                </div>
                <div style="flex: 1;"></div>
            </div>
        <% } %>

    </main>

    <%- include includes/footer.ejs %>

    <script src="/js/axios.js"></script>
    <script src="/js/prism.js"></script>
    <%- include includes/lazy.ejs %>
    <% if (blogExists && userInfo.loggedIn) { %>
        <script>
            (function() {

                const comBtn = document.getElementById("comBtn");
                const likeBtn = document.getElementById("likeBtn");

                function setToast(text) {

                    const toast = document.getElementById("toast");

                    toast.style.display = "block";
                    toast.firstElementChild.textContent = text;

                    setTimeout(() => {
                        toast.style.display = "none";
                    }, 3000);
                }

                likeBtn.addEventListener("click", function () {

                    axios.post("/like-blog-post", {
                        blogId: <%= blog.blog_id %>, // this is not an error, It's ejs in JS; That's why showing error
                    })
                        .then(response => {

                            if (response.data.liked) {

                                document.getElementById("likeCount").textContent = response.data.count;
                                this.src = "/images/star.svg";

                                setToast("Post Liked!");

                            } else {
                                document.getElementById("likeCount").textContent = response.data.count;
                                this.src = "/images/star-unlike.svg";

                                setToast("Post Unliked!");
                            }
                        })
                        .catch(err => console.log(err));
                });


                comBtn.addEventListener("click", function(event) {

                    event.preventDefault();

                    this.innerHTML = '<img class="spinner" src="/images/spinner.svg">';

                    const comField = document.getElementById("comField");

                    if (comField.value.length === 0) {

                        this.innerHTML = "Empty Body!";

                        setTimeout(function() {
                            this.innerHTML = "Post Comment";

                        }, 3000);

                    } else {

                        const comContainer = document.getElementById("comContainer");
                        const blogId = document.getElementById("blogId").value;

                        axios.post("/post-comment", {
                            blog_id: blogId,
                            com_content: comField.value,
                        })
                            .then(res => {
                                
                                if (res.data.success !== undefined && res.data.success) {
                                    const html = `<div class="post-reply-box--reply-container--reply">
                                        <div class="post-reply-box--reply-container--reply-username">
                                            <a href="/" class="reply-author-link">
                                                ${res.data.user_name} - ${res.data.createdAt}
                                            </a>
                                            <span class="reply-link">Reply</span>
                                        </div>
                                            <p class="post-content">
                                                ${res.data.com_content}
                                            </p>
                                        </div>`;


                                    const savedData = comContainer.innerHTML;

                                    comContainer.innerHTML = html;
                                    comContainer.innerHTML += savedData;

                                    document.getElementById("comCount").textContent = res.data.comCount;

                                    this.innerHTML = "Post Comment";
                                    comField.value = "";
                                }

                            })
                            .catch(err => console.log(err));
                    }

                });

            })();
        </script>
    <% } %>
</body>

</html>