<!DOCTYPE html>
<html lang="en">
<head>
    <%- include includes/meta.ejs  %>
    <title><%= pageTitle %></title>
</head>

<body>
    <%- include includes/header.ejs  %>

    <main class="main-content-forum-wrapper">

        <div class="main-content-forum">

            <div class="forum-sidebar-categories">
                <h2 class="forum-sidebar-categories--title">
                    Categories
                </h2>
        
                <ul class="forum-sidebar-categories--category">
                    <% tags.forEach(tag => { %>
                        <li class="forum-sidebar-categories--category-item">
                            <!-- check with ternary condition, if tag_name equals to the tag selected -->
                            <!-- Will add active class, if tag is selected -->
                            <a class="<%= active === tag.tag_name ? ' active' : '' %>" href="/blog/?tag_name=<%= tag.tag_name %>">
                                # <%= tag.tag_name %>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            </div>
        
            <div class="blog-container">

                <div class="title-create-box">
                    <h1 class="main-content-title">Latest Post</h1>
                    <% if (userInfo.loggedIn) { %>
                        <a class="narrow-solid-button narrow-solid-button-light-dark" href="/create-blog-post">Create Post +</a>
                    <% } %>
                </div>

                <% if (blogPost.length === 0) { %>
                    <h1>No posts to show!</h1>
                <% } else { %>

                    <div class="blog-container-wrapper">

                        <% blogPost.forEach(blog => { %>

                            <a href="/blog-post/<%= blog.blog_id %>" class="blog-container-wrapper--box">
                                <img data-src="<%= blog.img_url %>" class="blog-container-wrapper--box--img">
                                <h2 class="blog-container-wrapper--box--title"><%= blog.blog_title %></h2>
                            </a>

                        <% }); %>

                    </div>

                <% } %>
        
            </div>

        </div>
    
    </main>

    <%- include includes/footer.ejs %>
    <%- include includes/lazy.ejs %>
</body>
</html>