<!DOCTYPE html>
<html lang="en">
<head>
    <%- include includes/meta.ejs  %>
    <title><%= pageTitle %></title>
</head>

<body>
    <%- include includes/header.ejs  %>

    <main class="main-content-forum-wrapper">

        <div class="main-content-forum">

            <div class="forum-sidebar-categories">
        
                <ul class="forum-sidebar-categories--category">
                    <li class="forum-sidebar-categories--category-item">
                        <a href="/">
                            Ongoing
                        </a>
                    </li>
                    <li class="forum-sidebar-categories--category-item">
                        <a href="/">
                            Previous
                        </a>
                    </li>
                </ul>
            </div>
        
            <div class="blog-container">

                <div class="title-create-box">
                    <h1 class="main-content-title">Latest Post</h1>
                    <% if (userInfo.isAdmin) { %>
                        <a class="narrow-solid-button narrow-solid-button-light-dark" href="/create-event">Create Event +</a>
                    <% } %>
                </div>

                <% if (events.length === 0) { %>
                    <h1>No posts to show!</h1>
                <% } else { %>

                    <div class="blog-container-wrapper">

                        <% events.forEach(event => { %>

                            <a href="/event-details/<%= event.event_id %>" class="blog-container-wrapper--box">
                                <img data-src="<%= event.img_url %>" class="blog-container-wrapper--box--img">
                                <h2 class="blog-container-wrapper--box--title"><%= event.event_name %></h2>
                            </a>

                        <% }); %>

                    </div>

                <% } %>
        
            </div>

        </div>
    
    </main>

    <%- include includes/footer.ejs %>
    <%- include includes/lazy.ejs %>
</body>
</html>