<!DOCTYPE html>
<html lang="en">
<head>
    <%- include includes/meta.ejs  %>
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include includes/header.ejs  %>

    <main class="main-content-event">

        <div class="main-content-event--status">

            <ul class="main-content-event--status--catagory">
                <li class="main-content-event--status--catagory-item
            main-content-event--status--catagory--green-item">
                    Ongoing
                </li>

                <li class="main-content-event--status--catagory-item">
                    Previous Events
                </li>
            </ul>
        </div>

        <div class="blog-container">

            <a href="" class="blog-container--box">
                <img src="images/event33.png" alt="" class="blog-container--box--img">
                <h2 class="blog-container--box--title">hello Css. we should learn scss.</h2>
            </a>
            <a href="" class="blog-container--box">
                <img src="images/event33.png" alt="" class="blog-container--box--img">
                <h2 class="blog-container--box--title">hello Css. we should learn scss.</h2>
            </a>

            <a href="" class="blog-container--box">
                <img src="images/event2.png" alt="" class="blog-container--box--img">
                <h2 class="blog-container--box--title">hello Css. we should learn scss.</h2>
            </a>

            <a href="" class="blog-container--box">
                <img src="images/event1.png" alt="" class="blog-container--box--img">
                <h2 class="blog-container--box--title">hello Css. we should learn scss.</h2>
            </a>
        </div>

    </main>
    
    <%- include includes/footer.ejs %>
    <%- include includes/lazy.ejs %>
</body>

</html>