<!DOCTYPE html>
<html lang="en">

<head>
    <%- include includes/meta.ejs  %>

    <title><%= pageTitle %></title>
</head>

<body>
    
    <%- include includes/header.ejs  %>

    <main class="main-content-forum">

        <div class="forum-sidebar-categories">
            <h2 class="forum-sidebar-categories--title">
                Categories
            </h2>

            <ul class="forum-sidebar-categories--category">

                <% tags.forEach(tag => { %>
                    <li class="forum-sidebar-categories--category-item">
                        <!-- check with ternary condition, if tag_name equals to the tag selected -->
                        <!-- Will add active class, if tag is selected -->
                        <a class="<%= active === tag.tag_name ? ' active' : '' %>" href="/forum/?tag_name=<%= tag.tag_name %>">
                            # <%= tag.tag_name %>
                        </a>
                    </li>
                <% }); %>

            </ul>
        </div>

        <div class="forum-questions-box">

            <div class="title-create-box">
                <h1 class="main-content-title">Latest Post</h1>
                <a class="narrow-solid-button narrow-solid-button-light-dark" href="/">Create Post +</a>
            </div>

            <% forumPost.forEach(post => { %>
                <a href="/forum-post/<%= post.f_post_id %>" class="forum-questions-box--card">
                    <div class="forum-questions-box--card-left">
    
                        <div class="forum-questions-box--card-left-icon-box">
    
                            <div class="forum-questions-box--card-left-icon-box--container">
                                <img src="/images/star.svg" class="forum-questions-box--card-left-icon-box--container--icon">
                                <img src="/images/question.svg" class="forum-questions-box--card-left-icon-box--container--icon">
                            </div>
    
                            <div class="forum-questions-box--card-left-icon-box-count-box">
                                <span class="forum-questions-box--card-left-icon-box-count-box--count"><%= post.like_count %></span>
                                <span class="forum-questions-box--card-left-icon-box-count-box--count"><%= post["forum_answers.ansCount"] %></span>
                            </div>
    
                        </div>
    
                        <div class="forum-questions-box--card-left-title-box">
                            <h2 class="forum-questions-box--card-left-title-box--title">
                                <%= post.f_post_title %>
                            </h2>
                            <div class="forum-questions-box--card-left-title-box--cat-pills">
                                <% post.tags.forEach(tag => { %>
                                    <span class="forum-questions-box--card-left-title-box--cat-pills--pills">
                                        <%= tag %>
                                    </span>
                                <% }); %>

                            </div>
                        </div>
    
                    </div>
    
                    <div class="forum-questions-box--card-author-box">
                        <p class="forum-questions-box--card-author-box--author">
                            By <span class="author-link"><%= post["user.user_name"] %></span>
                        </p>
                        <p class="forum-questions-box--card-author-box--publish">
                            On, <%= dateFormat(post.createdAt) %>
                        </p>
                    </div>
                </a>
            <% }); %>

            <div class="common-paginate">
                <ul class="common-paginate--list">
                    <li class="common-paginate--list-item active">
                        <a href="" class="common-paginate--list-item--link active">1</a>
                    </li>
                    <li class="common-paginate--list-item">
                        <a href="" class="common-paginate--list-item--link">2</a>
                    </li>
                    <li class="common-paginate--list-item">
                        <a href="" class="common-paginate--list-item--link">3</a>
                    </li>
                    <li class="common-paginate--list-item">
                        <a href="" class="common-paginate--list-item--link">4</a>
                    </li>
                    <li class="common-paginate--list-item">
                        <a href="" class="common-paginate--list-item--link">
                            <i class="fas fa-angle-right step-icon"></i>
                        </a>
                    </li>
                    <li class="common-paginate--list-item">
                        <a href="" class="common-paginate--list-item--link">
                            Last
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </main>
</body>

</html>