<!DOCTYPE html>
<html lang="en">
<head>
    <%- include includes/meta.ejs  %>
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include includes/header.ejs  %>

    <main>

        <div class="search-container">

            <div class="search-container--sidebar">
                <a href="/search?searchKey=<%= searchKey %>&active=blog">Blogs</a>
                <a href="/search?searchKey=<%= searchKey %>&active=forum")">Forums</a>
                <a href="/search?searchKey=<%= searchKey %>&active=event">Events</a>
            </div>

            <div class="search-container--result">

                <h2 class="search-container--result-title"><%= active %> Results:</h2>

                <% posts.forEach(post => { %>

                    <a class="search-container--result-post" href="/">
                        <% if (active.toLowerCase() === "blog") { %>

                            # <%= post.blog_title %>

                        <% } else if (active.toLowerCase() === "forum") { %>

                            # <%= post.f_post_title %>

                        <% } else if (active.toLowerCase() === "event") { %>
                            
                            # <%= post.event_name %>

                        <% } %>
                    </a>

                <% }); %>

            </div>

        </div>

    </main>

    <%- include includes/footer.ejs %>
    <%- include includes/lazy.ejs %>

    <script>
    
        function getSrchResult(event, searchKey, active) {
            console.log(searchKey);
        }

    </script>

</body>

</html>