<!DOCTYPE html>
<html lang="en">
<head>
    <%- include includes/meta.ejs  %>
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include includes/header.ejs  %>

    <main>

        <div class="search-container">

            <div class="search-container--sidebar">
                <a class="<%= active === 'blog' ? 'search-tab-active' : '' %>" href="/search?searchKey=<%= searchKey %>&active=blog">Blogs</a>
                <a class="<%= active === 'forum' ? 'search-tab-active' : '' %>" href="/search?searchKey=<%= searchKey %>&active=forum")">Forums</a>
                <a class="<%= active === 'event' ? 'search-tab-active' : '' %>" href="/search?searchKey=<%= searchKey %>&active=event">Events</a>
            </div>

            <div class="search-container--result">

                <h2 class="search-container--result-title"><%= active.toUpperCase() %> Results:</h2>

                <% if (posts.length > 0) { %>

                    <% posts.forEach(post => { %>
    
                        <% if (active.toLowerCase() === "blog") { %>
                            <a class="search-container--result-post" href="/blog-post/<%= post.blog_id %>">
                                # <%= post.blog_title %>
                            </a>
                        <% } else if (active.toLowerCase() === "forum") { %>
                            <a class="search-container--result-post" href="/forum-post/<%= post.f_post_id %>">
                                # <%= post.f_post_title %>
                            </a>
                        <% } else if (active.toLowerCase() === "event") { %>
                            <a class="search-container--result-post" href="/forum-post/<%= post.event_id %>">
                                # <%= post.event_name %>
                            </a>
                        <% } %>
    
                    <% }); %>

                <% } else { %>

                    <h2>No posts to show :(</h2>

                <% } %>


            </div>

        </div>

    </main>

    <%- include includes/footer.ejs %>
    <%- include includes/lazy.ejs %>

    <script>
    
        function getSrchResult(event, searchKey, active) {
            console.log(searchKey);
        }

    </script>

</body>

</html>