<!DOCTYPE html>
<html lang="en">
<head>
    <%- include includes/meta.ejs  %>
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include includes/header.ejs  %>

    <% if (!userExists) { %>
        <h1 style="color: crimson;text-align: center; margin: 20rem 0rem;">The user you're looking for does not exists</h1>
    <% } else { %>

        <main class="profile-page">
    
            <div class="profile-page-wrapper">
    
                <div class="profile-page-wrapper--side-bar">
    
                    <h1 class="profile-page-wrapper--side-bar--profile">
                        <i class="fas fa-user-circle icon-profile"></i>
                        Profile
                    </h1>
    
                    <div class="profile-page-wrapper--side-bar--img-box">
                        <img id="pp-img" data-src="<%= user.avatar_url %>" class="profile-page-wrapper--side-bar--img-box--img">
                    </div>
    
                    <div class="profile-page-wrapper--side-bar--info">
                        <ul class="profile-page-wrapper--side-bar--info--list">
                            <li>Name: <%= user.first_name %> <%= user.last_name %></li>
                            <li>Username: <span class="user-color"><%= user.user_name %></span></li>
                            <li>Join Date: <%= dateFormat(user.createdAt) %></li>
                            <li>Posts: <%= userBlogs.length %></li>
                            <li>Question Asked: <%= userQues.length %></li>
                            <li>Forum Reply: <%= ansCount %></li>
                            <li>Contribution: 02</li>
                            <li>GitHub: <a target="_blank" id="githubUserName" href="<%= user.github_link !== null ? user.github_link : '' %>" class="github-link"></a></li>
                        </ul>
                    </div>
    
                </div>
    
                <div class="profile-page-wrapper--profile-box">
    
                    <div class="profile-page-wrapper--profile-box--main-bar">
    
                        <div class="profile-page-wrapper--profile-box--main-bar--title">
                            <h1 class="profile-title-text">
                                <i class="fas fa-user-cog user-cog-color"></i>
                                <% if (userInfo.loggedIn && userInfo.sessionData.uid === user.u_id) { %>
                                    Your Profile
                                <% } else { %>
                                    <%= user.first_name + "'s" %> Profile
                                <% } %>
                            </h1>
                        </div>
    
                        <div class="profile-page-wrapper--profile-box--main-bar--tabs">
                            <ul class="profile-page-wrapper--profile-box--main-bar--tabs--list">

                                <% if (userInfo.loggedIn && userInfo.sessionData.uid === user.u_id) { %>
                                    <li onclick="tabSwitch(event, 'blogTabSection')" class="active tab-list--item">Your Blogs
                                    </li>
                                <% } else { %>
                                    <li onclick="tabSwitch(event, 'blogTabSection')" class="active tab-list--item"><%= user.first_name + "'s" %> Blogs
                                    </li>
                                <% } %>

                                <% if (userInfo.loggedIn && userInfo.sessionData.uid === user.u_id) { %>
                                <li onclick="tabSwitch(event, 'quesTabSection')" class="tab-list--item hover-tab-item">Your
                                    Question</li>
                                <% } else { %>
                                    <li onclick="tabSwitch(event, 'quesTabSection')" class="tab-list--item hover-tab-item"><%= user.first_name + "'s" %>
                                        Question</li>
                                <% } %>

                                <% if (userInfo.isAdmin || (userInfo.loggedIn && userInfo.sessionData.uid === user.u_id)) { %>
                                    <li onclick="tabSwitch(event, 'settingsTabSection')" class="tab-list--item hover-tab-item">
                                        Settings</li>
                                <% } %>
                            </ul>
                        </div>
    
                    </div>
    
                    <div id="blogTabSection" class="profile-page-wrapper--blog-wrapper tabSection">
                        <% if (userBlogs.length > 0) { %>
                            <% userBlogs.forEach(blog => { %>

                                <div class="profile-page-wrapper--blog-wrapper--blog">
                                    <div class="profile-page-wrapper--blog-wrapper--blog--title">
        
                                        
                                        <a href="/blog-post/<%= blog.blog_id %>" class="profile-page-wrapper--blog-wrapper--blog--title--link">
                                            <h2><%= blog.blog_title %></h2>
                                        </a>
            
                                    </div>
            
                                    <div class="profile-page-wrapper--blog-wrapper--blog--logos">
                                        <a href="" class="profile-page-wrapper--blog-wrapper--blog--logos--update">
                                            <i class="fas fa-edit pp-up-icon"></i>
                                        </a>
            
                                        <a href="" class="profile-page-wrapper--blog-wrapper--blog--logos--update">
                                            <i class="fas fa-trash pp-up-icon"></i>
                                        </a>
                                    </div>
                                </div>

                            <% }); %>
                        <% } else { %>
                            <h3 style="text-align: center;">Nothing to see here</h3>
                        <% } %>
                        
                    </div>
    
                    <div id="quesTabSection" class="profile-page-wrapper--blog-wrapper tabSection">
                        <% if (userQues.length > 0) { %>
                            <% userQues.forEach(ques => { %>

                                <div class="profile-page-wrapper--blog-wrapper--blog">
                                    <div class="profile-page-wrapper--blog-wrapper--blog--title">
        
                                        <a href="/forum-post/<%= ques.f_post_id %>" class="profile-page-wrapper--blog-wrapper--blog--title--link">
                                            <h2><%= ques.f_post_title %></h2>
                                        </a>
            
                                    </div>
            
                                    <div class="profile-page-wrapper--blog-wrapper--blog--logos">
                                        <a href="" class="profile-page-wrapper--blog-wrapper--blog--logos--update">
                                            <i class="fas fa-edit pp-up-icon"></i>
                                        </a>
            
                                        <a href="" class="profile-page-wrapper--blog-wrapper--blog--logos--update">
                                            <i class="fas fa-trash pp-up-icon"></i>
                                        </a>
                                    </div>
                
                                </div>

                            <% }); %>
                        <% } else { %>
                            <h3 style="text-align: center;">Nothing to see here</h3>
                        <% } %>
                    </div>
    
                    <% if (userInfo.isAdmin || (userInfo.loggedIn && userInfo.sessionData.uid === user.u_id)) { %>
                        <div id="settingsTabSection" class="profile-page-wrapper--setting tabSection">
    
                        <div class="setting-container">
                            <div class="setting-card-wrapper">
                                <h2 class="setting-card-wrapper--title">Change Password</h2>
        
                                <form class="setting-card-wrapper--form">
                                    <input id="passwdUId" type="hidden" value="<%= user.u_id %>">
                                    <input id="oldPasswdField" class="setting-card-wrapper--form--input" type="password" placeholder="Old password">
                                    <input id="passwdField" class="setting-card-wrapper--form--input" type="password" placeholder="New Password">
                                    <input id="rePasswdField" class="setting-card-wrapper--form--input" type="password" placeholder="Re-password">
                                    <button id="passwdBtn" class="setting-card-wrapper--form--submit">
                                        Submit
                                    </button>
                                </form>
                            </div>
        
                            <div class="setting-card-wrapper">
                                <h2 class="setting-card-wrapper--title">Other Settings</h2>
        
                                <form class="setting-card-wrapper--form">
                                    <input id="otherUId" type="hidden" value="<%= user.u_id %>">
                                    <input id="avatar_url" value="<%= user.avatar_url %>" class="setting-card-wrapper--form--input" type="text" name="avatar_url"
                                        placeholder="Paste Profile Picture Link">
                                    <input id="alt_email" value="<%= user.alt_email %>" class="setting-card-wrapper--form--input" type="text" placeholder="Change Alt email">
                                    <input id="github_link" value="<%= user.github_link %>" class="setting-card-wrapper--form--input" type="text" placeholder="GitHub Link">
                                    <button id="otherSBtn" class="setting-card-wrapper--form--submit">
                                        Submit
                                    </button>
                                </form>
                            </div>
    
                        </div>
    
                        </div>
                    <% } %>
    
                </div>
    
            </div>
    
        </main>
    <% } %>

    <%- include includes/footer.ejs %>
    <%- include includes/lazy.ejs %>
    <% if (userExists) { %>
        <script>

            function init() {

                try {

                    const parseUrl = new URL("<%= user.github_link %>");
                    document.getElementById("githubUserName").textContent = parseUrl.pathname.slice(1);

                } catch (err) {

                    document.getElementById("githubUserName").textContent = "Not Set";
                }

                    
                
                // starting tab
                document.getElementById("blogTabSection").style.display = "block";
            }

            window.addEventListener("DOMContentLoaded", function() {
                init();
            });

            const tabList = Array.from(document.querySelectorAll(".profile-page-wrapper"
                + "--profile-box--main-bar--tabs--list li"));
            const tabSection = Array.from(document.querySelectorAll(".tabSection"));

            function tabSwitch(event, sectionName) {

                tabSection.forEach(tab => {
                    if (tab.style.display === "block") {
                        tab.style.display = "none";
                    }
                });

                document.getElementById(sectionName).style.display = "block";

                tabList.forEach(tab => {
                    if (tab.classList.contains("active")) {
                        tab.classList.remove("active");
                        tab.classList.add("hover-tab-item");
                    }
                });

                if (!(event.target.classList.contains("active"))) {
                    event.target.classList.add("active");
                    event.target.classList.remove("hover-tab-item");
                }
            }

        </script>
    <% } %>
    <script src="/js/axios.js"></script>

    <% if (userInfo.isAdmin || (userInfo.loggedIn && userInfo.sessionData.uid === user.u_id)) { %>
        <script>
            
            (function() {

                const defaultImgLink = "/images/identity.svg";

                const otherSBtn = document.getElementById("otherSBtn");
                const altEmailField = document.getElementById("alt_email");
                const avatarField = document.getElementById("avatar_url");
                const ppImg = document.getElementById("pp-img");
                const githubField = document.getElementById("github_link");
                const otherUId = document.getElementById("otherUId");

                const oldPasswdField = document.getElementById("oldPasswdField");
                const passwdField = document.getElementById("passwdField");
                const rePasswdField = document.getElementById("rePasswdField");
                const passwdUId = document.getElementById("passwdUId");
                const passwdBtn = document.getElementById("passwdBtn");

                const checkImageValidity = (url, callback) => {
        
                    let img = new Image();
                    img.onload = () => callback(true);
                    img.onerror = () => callback(false);
                    img.src = url;

                    img = null; // cleanup memory
                }

                avatarField.addEventListener("input", function(event) {
        
                    let imgUrl = this.value;

                    checkImageValidity(imgUrl, (exists) => {

                        if (exists) {

                            ppImg.src = imgUrl;
                            this.style.borderColor = "green";
                            this.style.boxShadow = "0 0 0 0.2rem rgba(88,214,141,.5)";

                        } else {

                            ppImg.src = defaultImgLink;
                            this.style.borderColor = "crimson";
                            this.style.boxShadow = "0 0 0 0.2rem rgba(220,20,60,.5)";

                        }
                    });
                });

                otherSBtn.addEventListener("click", function(event) {

                    event.preventDefault();
                    
                    this.innerHTML = '<img class="spinner" src="/images/spinner.svg">';

                    axios.post("/other-settings", {
                        u_id: otherUId.value,
                        alt_email: altEmailField.value,
                        avatar_url: avatarField.value,
                        github_link: githubField.value
                    })
                        .then(res => {

                            if (res.data.unauthorized) {

                                console.log("Unauthorized action! Admins will be notified");

                            } else if (res.data.invalidEmail) {

                                altEmailField.value = "Invalid Email";

                                this.innerHTML = "<span style='color: #EF8D9C;'>Error Updating! "
                                    + "<i class='fas fa-times'></span>";
                            
                                // change save msg after 3 seconds
                                setTimeout(() => {
                                    this.innerHTML = "Submit";
                                }, 3000);

                            } else if (res.data.success) {

                                this.innerHTML = "<span style='color: #B0DB7D;'>Saved! "
                                    + "<i class='fas fa-check-double'></span>";
                            
                                // change save msg after 3 seconds
                                setTimeout(() => {
                                    this.innerHTML = "Submit";
                                }, 3000);

                            }
                        })
                        .catch(err => console.log(err));
                });

                passwdBtn.addEventListener("click", function(event) {

                    event.preventDefault();

                    if (res.data.unauthorized) {

                        console.log("Unauthorized action! Admins will be notified");

                    }

                    this.innerHTML = '<img class="spinner" src="/images/spinner.svg">';

                    axios.post("/change-password", {
                        u_id: passwdUId.value,
                        old_password: oldPasswdField.value,
                        new_password: passwdField.value,
                        re_password: rePasswdField.value
                    })
                        .then(res => {

                            this.innerHTML = "<span style='color: #B0DB7D;'>Password Changed! "
                            + "<i class='fas fa-check-double'></span>";
                            
                            // change save msg after 3 seconds
                            setTimeout(() => {
                                this.innerHTML = "Submit";
                            }, 3000);

                            console.log(res.data)
                        })
                        .catch(err => console.log(err));
                });

            })();
        </script>
    <% } %>

</body>

</html>